# misc
*.iml
*.iws
*.eml
.DS_Store
.svn
.sass-cache
.env
.env.*
!.env.example
log/*.log

# editors
.vscode/
.idea/
tmp/**

# node modules
node_modules/

# asdf
.tool-versions

# build
build/
package/

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# svelte
.svelte-kit/


# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
