@import url(reset.css);

:root {
  color: white;
  background-color: #242424;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 100%;
  padding: 2rem;
  align-items: center;
}

/* Light theme styles */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Status of Nested CSS support in Svelte
  https://github.com/sveltejs/svelte/issues/8587
  https://github.com/sveltejs/svelte/pull/9549
*/
